@tailwind base;
@tailwind components;
@tailwind utilities;

#toggle_nav:checked ~ div #hamburger #line {
  @apply rotate-45 translate-y-1.5;
}

#toggle_nav:checked ~ div #hamburger #line2 {
  @apply -rotate-45 -translate-y-1;
}

#user-name {
  @media (max-width: 1024px) {
    display: none;
  }
}

#nav-toggle {
  @media (max-width: 1024px) {
    display: inline;
  }
}

#dash-r1 {
  @media (max-width: 786px) {
    width: 100%;
  }
}

#dash-r3 {
  @media (max-width: 786px) {
    display: flex;
    flex-direction: column;
  }
}
